body {
  /* padding-top: 5rem; */

}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1 {
  text-align: center;
  padding: 2%;
}
#hero {
  background-image: url("../images/city.jpeg");
  
  background-size: cover;
}

#firsth1 {
  font-size: 75px;
}

#firsth2 {
  font-size: 60px;
}


.h-txt {
  /* padding: 10% 2% 10% 2%; */
  padding: 20% 2%;
}

.bg-dark {
  background-color: transparent !important;
}

.bg-dark.srcolled {
  background: #343a40 !important;
}

#contactForm {
  padding-bottom: 2%;
}
